.drope-tab,.drope-tab *{font-family:arial,sans-serif;box-sizing:border-box}.drope-tab input{display:none}.drope-tab label{position:relative;display:block;width:100%;cursor:pointer}.drope-tab .drope-content{overflow:hidden;max-height:0}drope-tab .drope-content p{padding:10px}.drope-tab input:checked~.drope-content{max-height:100%}.drope-tab label::after{display:block;content:"\25BC";position:absolute;left:84px;top:0;transition:.4s}.drope-tab input:checked~label::after{transform:rotate(-180deg)}

body > div > aside.z-20.hidden.w-64.overflow-y-auto.bg-white.dark\:bg-gray-800.md\:block.flex-shrink-0 > div > div > a {
  display: none !important;
}

body > div > aside.fixed.inset-y-0.z-20.flex-shrink-0.w-64.mt-16.overflow-y-auto.bg-white.dark\:bg-gray-800.md\:hidden > div > div > a{
    display: none !important;
}

body > div > aside.z-20.hidden.w-64.overflow-y-auto.bg-white.dark\:bg-gray-800.md\:block.flex-shrink-0 > div > ul > li:nth-child(12){
     display: none !important;
}
    
body > div > aside.fixed.inset-y-0.z-20.flex-shrink-0.w-64.mt-16.overflow-y-auto.bg-white.dark\:bg-gray-800.md\:hidden > div > ul:nth-child(3) > li:nth-child(11){
    display: none !important;
}

